body{background-color: white(223, 233, 225);}


#titulo{
    color: white;
    top:50%;
    width: 100%;
    background-color: rgb(30, 181, 48);
    text-align: center;
    position: sticky;top:0;
    border: 4px solid rgb(18, 98, 47);
}

#tabla{
    color: white;
    top:3;
    font-size: medium;
    position: static; 
    background-color: rgb(30, 181, 48);
}

#p-especial{
    top: 3;
    position: static;
}


.caja{
    margin: 25px;
}

#TIGER{
    text-align: center;
}

#borde1{
    top:0;
    width: 100%;
    border: 4px solid rgb(18, 98, 47);
}